<a href="https://colab.research.google.com/github/Arnav18-en/Google_collab/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
data = [['Nick',25,'Engineer'],['John',22,'Doctor'],['Charlie',33,'Actor']]
DataFrame = pd.DataFrame(data,columns=['Name','Age','Occupation'],dtype=float)
print(DataFrame)

      Name   Age Occupation
0     Nick  25.0   Engineer
1     John  22.0     Doctor
2  Charlie  33.0      Actor

In [14]:
import pandas as pd
data12 = {'Name':0,'Method':1,'Class':2}
x = pd.Series(data12)
print(x)

Name      0
Method    1
Class     2
dtype: int64

In [15]:
import pandas as pd
data_list = ['Name','Method','Class']
data_list1 = [0,1,2]
z = pd.Series(data_list,data_list1)
print(z)

0      Name
1    Method
2     Class
dtype: object

In [ ]:
import pandas as pd